* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    height: 100vh;
    background-image: linear-gradient(#c7ccc6bd, #b1c390c2), url(../img/MarshfieldHome-38\ copy.jpg);
    background-size: cover;
    background-position: center center;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #fff;
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    text-align: center;
    font-family: 'Ysabeau', sans-serif;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 20px;
    animation-name: moveInLeft;
    animation-duration: 3s;
}

.heading-primary-sub {
    display: block;
    text-align: right;
    font-family: 'EB Garamond', serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 14px;
    animation-name: moveInRight;
    animation-duration: 3s;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

footer {
    color: white;
    text-align: center;
    line-height: 32px;
    font-family: 'Nanum Myeongjo', serif;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer h4 {
    font-size: 16px;
    letter-spacing: 5px;
}

footer h5 {
    font-size: 15px;
}

.social-icons ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-icons li {
    padding: 15px 15px 5px 15px;
    font-size: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}